@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-opensans: "Playfair Display", sans-serif;
	--font-dancing: "Dancing Script", cursive;
	--font-playfair: "Noto Serif", serif;
	--color-backdrop: oklch(0.1448 0 0);
}
