@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-opensans: "Playfair Display", sans-serif;
	--font-dancing: "Dancing Script", cursive;
	--font-playfair: "Noto Serif", serif;
	--color-backdrop: oklch(0.1448 0 0);
}

@utility text-shadow-readable {
	text-shadow: 0 1px 3px rgba(0,0,0,1), 0 0 15px rgba(0,0,0,0.85), 0 0 40px rgba(0,0,0,0.6);
}

.scroll-none {
	scrollbar-width: none;
	::-webkit-scrollbar {
		display: none;
	}
}
